@import "modern-normalize.css";

@font-face {
    /* The Odin Project font */
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    /* hides scrollbar */
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 30vh 70vh;
    gap: 0px 0px;
    grid-template-areas:
        "logo-side ."
        "logo-side .";
}

#header {
    background-color: wheat;
}

#logo-side {
    grid-area: logo-side;
    background-image: url(images/sunnyfield.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#odin-logo {
    width: 60px;
}

/* controls the logo image and word in the left side of the page */
#logo {
    font-family: Norse-Bold, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15vh;
    user-select: none;
}

#logo:hover {
    /* prevents the cursor from turning into a text select when hovering over the word */
    cursor: default;
}

/* this is credit text for the bottom left side of the page */
#image-credit,
#image-credit a,
#image-credit a:visited {
    color: white;
    align-self: center;
    font-size: 14px;
    padding-bottom: 5px;
}

#header,
.main-body {
    padding-left: 50px;
}

input,
label {
    width: 50%;
    display: block;
}

input {
    border: solid #E5E7EB;
}

/* creates the two column design for the form when viewed on a desktop */
#main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#submit-btn {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding-top: 30px;
}

/* style for the create account button */
#submit-btn input[type="submit"] {
    background-color: royalblue;
    color: white;
    width: 20%;
    border-style: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}